.contenerdor-general-eco_opciones {
  width: 100%;
  padding: 50px 0;
  background-image: url(../img/bg-notas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenerdor-general-eco_opciones h2 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones {
  margin-top: 45px;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion {
  display: block;
  text-decoration: none;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img {
  height: 255px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img .mask-titulo {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img .mask-titulo h2 {
  font-size: 20px;
  color: white;
  margin: 0;
  text-align: center;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img .mask-info {
  padding: 15px 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img .mask-info .info h2 {
  font-size: 20px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img .mask-info .info p {
  font-size: 14px;
  line-height: 15px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img .mask-info .info span {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: table;
  padding: 10px 20px 0 20px;
  border-top: 1px solid white;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img:hover .mask-titulo {
  opacity: 0;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img:hover .mask-info {
  opacity: 1;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-icono {
  margin-top: -35px;
  position: relative;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-icono img {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav {
  margin: 0;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 10px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button.owl-prev {
  left: -70px;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button.owl-next {
  right: -70px;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button img {
  width: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button:hover {
  background: #709303;
}

.contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button:hover img {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.contenedor-general-productos {
  padding: 0 0 100px 0;
  background: white;
}

.contenedor-general-productos .contenedor-productos .cont-producto {
  padding: 100px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-img {
  width: 23%;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-img img {
  width: 100%;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-info {
  width: 72%;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-info h2 {
  color: #ff671d;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-info p {
  text-align: justify;
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-info a {
  background: #ff671d;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  border: 1px solid #ff671d;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-productos .contenedor-productos .cont-producto .cont-info a:hover {
  background: white;
  color: #ff671d;
}

.contenedor-general-productos .contenedor-productos .cont-producto:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contenedor-general-productos .contenedor-productos .cont-producto:last-child:before {
  display: none;
}

.contenedor-general-productos .contenedor-productos .cont-producto:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 69%;
  height: 2px;
  background: #ff671d;
}

@media screen and (max-width: 767px) {
  .contenedor-general-productos .contenedor-productos .cont-producto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-productos .contenedor-productos .cont-producto .cont-img {
    width: 100%;
  }
  .contenedor-general-productos .contenedor-productos .cont-producto .cont-info {
    width: 100%;
  }
  .contenedor-general-productos .contenedor-productos .cont-producto:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenerdor-general-eco_opciones .contenedor-eco_opciones .contenedor-eco_opcion .cont-img {
    height: 320px;
  }
  .contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav {
    margin-top: 10px;
  }
  .contenerdor-general-eco_opciones .contenedor-eco_opciones .owl-nav button {
    position: initial;
    top: initial;
    -webkit-transform: none;
            transform: none;
  }
}
