* {
  line-height: 1.2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 80px;
}

.contenedor-page {
  position: relative;
}

.wp-block-uagb-section {
  max-width: unset !important;
  padding: 100px 0 !important;
}

.wp-block-uagb-section .uagb-section__inner-wrap {
  padding: 0 30px;
}

.wp-block-uagb-section.wrapper-content .uagb-section__inner-wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 80px;
  position: relative;
}

h2 {
  color: #ff671d;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

figure {
  margin: 0;
}

img {
  height: auto;
}

.contenedor-page ul {
  list-style-type: none;
}

.contenedor-page ul li {
  font-size: 18px;
  margin-bottom: 22px;
  position: relative;
}

.contenedor-page ul li::before {
  content: "";
  background-color: #f58427;
  margin-right: 0.5em;
  position: absolute;
  left: -25px;
  top: 3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contenedor-page ul li:last-child {
  margin-bottom: 0;
}

.contenedor-page ol {
  counter-reset: myOrderedListItemsCounter;
  list-style-type: none;
}

.contenedor-page ol li {
  font-size: 18px;
  margin-bottom: 22px;
  position: relative;
}

.contenedor-page ol li::before {
  background-color: #f58427;
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter) " ";
  margin-right: 0.5em;
  position: absolute;
  left: -35px;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contenedor-page ol li:last-child {
  margin-bottom: 0;
}

.items-especiales .wp-block-column .wp-block-image {
  position: relative;
}

.items-especiales .wp-block-column .wp-block-image::before {
  content: " ";
  position: absolute;
  width: 85px;
  height: 8px;
  right: -57px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/puntos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.items-especiales .wp-block-column .wp-block-image img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.items-especiales .wp-block-column:last-child .wp-block-image::before {
  display: none;
}

.items-especiales .wp-block-column p {
  color: #ff671d;
  font-size: 18px;
  font-weight: bold;
}

.wp-block-cover .wp-block-cover__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wp-block-cover .wp-block-cover__inner-container h2 {
  font-size: 42px;
  border: 1px solid white;
  padding: 12px 65px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

.wp-block-cover .wp-block-cover__inner-container p:last-child {
  margin-bottom: 0;
}

.wp-block-cover .wp-block-cover__inner-container a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.title {
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.wrapper-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}

.wrapper-contact .column {
  margin: 0 auto;
  padding: 10px;
}

.wrapper-contact .column:first-child {
  width: 40%;
}

.wrapper-contact .column:nth-child(2) {
  width: 60%;
}

.wrapper-contact .column:nth-child(3) {
  width: 100%;
}

.wrapper-contact .column label {
  margin-bottom: 25px;
  display: block;
  color: white;
  font-size: 16px;
}

.wrapper-contact .column label input, .wrapper-contact .column label textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin-top: 4px;
  display: block;
  width: 100%;
  border-radius: 12px;
  padding: 10px;
}

.wrapper-contact .column label input {
  height: 40px;
}

.wrapper-contact .column label textarea {
  height: 218px;
}

.wrapper-contact .column input[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  height: 45px;
  color: white;
  padding: 15px 60px;
  background-color: #ee8222;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border-radius: 15px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: white;
  color: white;
}

.thd-button-project a {
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  font-weight: thin;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
  .wp-block-uagb-section.wrapper-content .uagb-section__inner-wrap {
    padding: 0 30px;
  }
  .wp-block-cover .wp-block-cover__inner-container h2 {
    font-size: 28px;
    padding: 12px 30px;
  }
}

@media screen and (max-width: 781px) {
  .items-especiales .wp-block-column .wp-block-image::before {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  header {
    padding: 20px 30px;
    padding-top: 30px;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #ff671d;
  }
  header .header-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  header .header-container a .header_logo {
    width: 30px;
    height: auto;
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
  }
  header .header-container .burguer-button {
    position: absolute;
    right: 30px;
    top: 40px;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-container .burguer-button span {
    background-color: #fff;
    width: 100%;
    height: 3px;
    margin: 3px 0;
    -webkit-transition: opacity 300ms ease, -webkit-transform 350ms linear;
    transition: opacity 300ms ease, -webkit-transform 350ms linear;
    transition: opacity 300ms ease, transform 350ms linear;
    transition: opacity 300ms ease, transform 350ms linear, -webkit-transform 350ms linear;
  }
  header .header-container .burguer-button.active span:first-child {
    opacity: 0;
  }
  header .header-container .burguer-button.active span:nth-child(2) {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  header .header-container .burguer-button.active span:nth-child(3) {
    -webkit-transform: translate(1px, -9px) rotateZ(-45deg);
            transform: translate(1px, -9px) rotateZ(-45deg);
  }
  header .header-container .header-menu-container {
    position: absolute;
    top: calc(100% - 1px);
    left: -1000px;
    background-color: #eaeae9;
    width: 100%;
    margin: 0;
    border-top: 1px solid white;
    -webkit-transition: left 400ms linear;
    transition: left 400ms linear;
  }
  header .header-container .header-menu-container.active {
    left: 0;
  }
  header .header-container .header-menu-container .menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header .header-container .header-menu-container .menu > .menu-item {
    padding-top: 20px;
    padding-left: 20px;
    min-height: 80px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  header .header-container .header-menu-container .menu > .menu-item > a {
    font-size: 32px;
    color: black;
    text-decoration: none;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    padding-bottom: 3px;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children:before {
    content: '';
    height: 13px;
    width: 13px;
    padding: 2px;
    background-size: 13px;
    position: absolute;
    right: 20px;
    margin-top: 5px;
    background-image: url(../img/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu {
    list-style: none;
    margin: 0;
    width: 100%;
    max-height: 0;
    padding: 0;
    visibility: hidden;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu.shown {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    margin: 20px 0;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu.shown .menu-item {
    opacity: 1;
    height: 70px;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item {
    margin: 0;
    padding-left: 70px;
    color: white;
    height: 0px;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item a {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: color 300ms, border-bottom 450ms;
    transition: color 300ms, border-bottom 450ms;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-energy::before {
    background-image: url(../img/icon-energy.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-aqua::before {
    background-image: url(../img/icon-aqua.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-air::before {
    background-image: url(../img/icon-air.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-health::before {
    background-image: url(../img/icon-health.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-wood::before {
    background-image: url(../img/icon-wood.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-economy::before {
    background-image: url(../img/icon-economy.png);
  }
}

@media screen and (min-width: 900px) {
  header {
    padding: 20px 0;
    padding-top: 30px;
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  header.shrinked {
    background-color: #ff671d;
    padding: 10px 20px;
  }
  header.shrinked .header-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.shrinked .header-container a .header_logo {
    width: auto;
    height: 90px;
  }
  header.shrinked .header-container .header-menu-container .menu > .menu-item a:hover {
    border-bottom: 2px solid white;
  }
  header.shrinked .header-container .header-menu-container .menu > .menu-item.menu-item-has-children:before {
    background-color: #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-top: 3px;
    background-position: center 6px;
    background-size: 10px;
  }
  header.shrinked .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item a:hover {
    border-bottom: 2px solid white;
  }
  header .header-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  header .header-container a .header_logo {
    width: 80px;
    height: auto;
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
  }
  header .header-container .header-menu-container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
  }
  header .header-container .header-menu-container .menu > .menu-item {
    position: relative;
    margin-left: 30px;
    padding-right: 30px;
  }
  header .header-container .header-menu-container .menu > .menu-item:last-child {
    padding-right: 0;
  }
  header .header-container .header-menu-container .menu > .menu-item > a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  header .header-container .header-menu-container .menu > .menu-item > a:hover {
    border-bottom: 2px solid #ff671d;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children:before {
    content: '';
    height: 15px;
    width: 15px;
    padding: 2px;
    background-size: 13px;
    position: absolute;
    right: -2px;
    margin-top: 2px;
    background-image: url(../img/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu {
    top: 50px;
    position: absolute;
    list-style: none;
    background-color: #eaeae9;
    padding: 25px 15px;
    border-radius: 20px;
    margin-left: -80px;
    -webkit-box-shadow: 0px 18px 12px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 18px 12px 1px rgba(0, 0, 0, 0.5);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 300px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0ms linear, opacity 300ms ease;
    transition: visibility 0ms linear, opacity 300ms ease;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu.shown {
    opacity: 1;
    visibility: visible;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 17px solid #eaeae9;
    border-radius: 0px;
    left: 75px;
    top: -16px;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item {
    margin: 5px;
    padding-left: 50px;
    color: white;
    height: 50px;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: color 300ms, border-bottom 450ms;
    transition: color 300ms, border-bottom 450ms;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item a:hover {
    color: #ff671d;
    border-bottom: 2px solid #ff671d;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: -8px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-energy::before {
    background-image: url(../img/icon-energy.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-aqua::before {
    background-image: url(../img/icon-aqua.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-air::before {
    background-image: url(../img/icon-air.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-health::before {
    background-image: url(../img/icon-health.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-wood::before {
    background-image: url(../img/icon-wood.png);
  }
  header .header-container .header-menu-container .menu > .menu-item.menu-item-has-children .sub-menu .menu-item.icon-economy::before {
    background-image: url(../img/icon-economy.png);
  }
}

footer {
  width: 100%;
  padding: 30px 0;
  background-color: #000;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  line-height: 1.6;
}

footer .container {
  max-width: 1280px;
}

footer .grid-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  padding-bottom: 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .grid-columns .column {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 350px;
  max-width: 33%;
  padding: 10px;
}

footer .grid-columns .column:first-child {
  min-width: 200px;
}

footer .footer-bottom {
  padding: 30px;
  margin: 0 auto;
  border-top: 1px solid #5f5f5f;
  text-align: center;
}

footer .widget-title {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid white;
}

footer .textwidget {
  font-weight: 300;
}

footer .menu-footer-container {
  font-weight: 300;
}

footer .menu-footer-container ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-container a {
  height: 30px;
  overflow: hidden;
}

.social-container a .item {
  width: 30px;
  margin: 0 3px;
  margin-right: 20px;
}

.social-container a .item img {
  width: 100%;
}

.social-container a .item img.no-hover, .social-container a .item img.hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-container a:hover .item img.no-hover {
  -webkit-transform: translateY(calc(-100% - 5px));
          transform: translateY(calc(-100% - 5px));
}

.social-container a:hover .item img.hover {
  -webkit-transform: translateY(calc(-100% - 4px));
          transform: translateY(calc(-100% - 4px));
}

.wg-contact-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wg-contact-container .item .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.wg-contact-container .item .col img {
  width: 40px;
}

.wg-contact-container .item .col span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #ff671d;
  height: 12px;
}

.wg-contact-container .item .col a {
  height: 12px;
  margin: 0;
  padding: 0;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
  color: #ff671d;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wg-contact-container .item .col a:hover {
  color: #ff671d;
}
