// $font: 'Halis GR';
// $font-book: 'Halis GR Book';
$font: "Sukhumvit Set";
$thd-orange: #ff671d;
$thd-green: #789811;

// $color-text-alternate: #67ae3d;
// $color-accented: #14e1ea;
$time-transition: all 0.3s;
