@import "variables";

* {
    line-height: 1.2;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 80px;
}

@import "header";
@import "footer";
@import "social_widget";

/*
.wrapper-content {
    width: 100%;
    padding: 100px 0;
    background-image: url(../img/bg-nuestroimpacto.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    h2{
        color: #ff671d;
        font-size: 20px;
        text-transform: uppercase;
    }
    p{
        text-align: justify;
        font-size: 18px;
    }
}
*/

.wp-block-uagb-section{
    max-width: unset !important;
    padding: 100px 0 !important;
    .uagb-section__inner-wrap{
        padding: 0 30px;
    }
    &.wrapper-content{
        .uagb-section__inner-wrap{
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 0 80px;
            position: relative;
        }
    }
    h2{
        color: #ff671d;
        font-size: 20px;
        text-transform: uppercase;
    }
    p{
        text-align: justify;
        font-size: 18px;
    }
}

@media screen and (max-width: 767px){

    .wp-block-uagb-section{
        &.wrapper-content{
            .uagb-section__inner-wrap{
                padding: 0 30px;
            }
        }
    }

}