@import "variables";

* {
    line-height: 1.2;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 80px;
}

.contenedor-page{
    position: relative;
}

.wp-block-uagb-section{
    max-width: unset !important;
    padding: 100px 0 !important;
    .uagb-section__inner-wrap{
        padding: 0 30px;
    }
    &.wrapper-content{
        .uagb-section__inner-wrap{
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 0 80px;
            position: relative;
        }
    }
}

h2{
    color: #ff671d;
    font-size: 20px;
    text-transform: uppercase;
}

p{
    font-size: 18px;
}

figure{
    margin: 0;
}

img{
    height: auto;
}

.contenedor-page{
    ul{
        list-style-type: none;
        li{
            font-size: 18px;
            margin-bottom: 22px;
            position: relative;
            &::before{
                content: "";
                background-color: #f58427;
                margin-right: 0.5em;
                position: absolute;
                left: -25px;
                top: 3px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    ol{
        counter-reset: myOrderedListItemsCounter;
        list-style-type: none;
        li{
            font-size: 18px;
            margin-bottom: 22px;
            position: relative;
            &::before{
                background-color: #f58427;
                counter-increment: myOrderedListItemsCounter;
                content: counter(myOrderedListItemsCounter) " ";
                margin-right: 0.5em;
                position: absolute;
                left: -35px;
                top: -5px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.items-especiales{
    .wp-block-column{
        .wp-block-image{
            position: relative;
            &::before{
                content: " ";
                position: absolute;
                width: 85px;
                height: 8px;
                right: -57px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../img/puntos.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            img{
                width: 50%;
                margin: 0 auto;
                display: block;
            }
        }
        &:last-child{
            .wp-block-image{
                &::before{
                    display: none;
                }
            }
        }
        p{
            color: #ff671d;
            font-size: 18px;
            font-weight: bold;
        }
    }
}


.wp-block-cover{
    .wp-block-cover__inner-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 42px;
            border: 1px solid white;
            padding: 12px 65px;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 10px;
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        a{
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.wp-block-kadence-advancedgallery{
    .kb-gallery-ul{
        .kadence-blocks-gallery-item{
            .kadence-blocks-gallery-item__caption{
                font-size: 18px !important;
                font-weight: bold;
            }
        }
    }
    &.special{
        .kb-gallery-ul{
            .kadence-blocks-gallery-item{
                &:nth-child(9), &:nth-child(10), &:nth-child(11){
                    width: calc(100% / 3);
                    .kb-gallery-image-contain{
                        padding: 36% 0 !important;
                    }
                }
            }
        }
    }
}


.title {
    border-bottom: 2px solid white;
    padding: 10px 0;
}


.wrapper-contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;

    .column {
        margin: 0 auto;
        padding: 10px;

        &:first-child {
            width: 40%;
        }

        &:nth-child(2) {
            width: 60%;
        }

        &:nth-child(3) {
            width: 100%;
        }

        label {
            margin-bottom: 25px;
            display: block;
            color: white;
            font-size: 16px;

            input, textarea {
                appearance: none;
                border: none;
                margin-top: 4px;
                display: block;
                width: 100%;
                border-radius: 12px;
                padding: 10px;
            }

            input {
                height: 40px;
            }

            textarea {
                height: 218px;
            }
        }

        input[type='submit'] {
            appearance: none;
            border: none;
            height: 45px;
            color: white;
            padding: 15px 60px;
            background-color: #ee8222;
            margin: 0 auto;
            text-align: center;
            display: flex;
            line-height: 1;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            border-radius: 15px;
        }
    }
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: white;
    color: white;
}

//Custom buttons
.thd-button-project {
    a {
        text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        font-weight: thin;
        letter-spacing: 1px;
    }
}


@media screen and (max-width: 991px) {
    
    .items-especiales{
        .wp-block-column{
            .wp-block-image{
                &::before{
                    display: none;
                }
            }
        }
    }

    .wp-block-kadence-advancedgallery{
        &.special{
            .kb-gallery-ul{
                .kadence-blocks-gallery-item{
                    &:nth-child(9), &:nth-child(10), &:nth-child(11){
                        .kb-gallery-image-contain{
                            padding: 50% 0 !important;
                        }
                    }
                    &:nth-child(10), &:nth-child(11){
                        width: calc(100% / 2) !important;
                        .kb-gallery-image-contain{
                            padding: 33% 0 !important;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 781px) {
    
    .items-especiales{
        .wp-block-column{
            .wp-block-image{
                &::before{
                    display: none;
                }
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
    .wp-block-uagb-section{
        &.wrapper-content{
            .uagb-section__inner-wrap{
                padding: 0 30px;
            }
        }
    }
    .wp-block-cover{
        .wp-block-cover__inner-container{
            h2{
                font-size: 28px;
                padding: 12px 30px;
            }
        }
    }
    .wp-block-kadence-advancedgallery{
        .kb-gallery-ul{
            .kadence-blocks-gallery-item{
                width: 100% !important;
                .kadence-blocks-gallery-item__caption{
                    font-size: 16px !important;
                }
            }
        }
        &.special{
            .kb-gallery-ul{
                .kadence-blocks-gallery-item{
                    &:nth-child(9), &:nth-child(10), &:nth-child(11){
                        width: 100% !important;
                        .kb-gallery-image-contain{
                            padding: 50% 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@import "header";
@import "footer";
@import "social_widget";
