@import "variables";

* {
    line-height: 1.2;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper-content {
    width: 100%;
    background-color: black;
}

@import "header";
@import "footer";
@import "social_widget";
