.contenerdor-general-notas{
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/bg-notas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        color: white;
    }
    .contenedor-notas{
        .contenedor-nota{
            background: white;
            border-radius: 20px;
            overflow: hidden;
            .cont-img{
                height: 280px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;    
                border-bottom-right-radius: 60px;        
            }
            .cont-info{
                padding: 10px 10px 20px;
                h3{
                    color: #ff671d;
                    font-size: 14px;
                    margin: 0;
                }
                p{
                    font-size: 14px;
                    margin: 0;
                }
                a{
                    color: #ff671d;
                    font-size: 13px;
                    margin: 0;
                    padding: 5px;
                    width: 160px;
                    text-align: center;
                    border: .5px solid black;
                    border-radius: 5px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 15px;
                    text-decoration: none;
                    transition: all .3s;
                    &:hover{
                        background: #ff671d;
                        color: white;
                        border-color: #a19893;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            button {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: calc(50% - 10px);
                transform: translateY(-50%);
                transition: all 0.3s;
                &.owl-prev {
                    left: -70px;
                }
                &.owl-next {
                    right: -70px;
                }
                img {
                    width: 25px;
                    transition: all 0.3s;
                }
                &:hover {
                    background: #709303;
                    img {
                        transform: scale(0.6);
                    }
                }
            }
        }
    }
}